# Specific Directories
Sounds/Effects/Aircraft
Sounds/Effects/Ambient
Sounds/Effects/Animals
Sounds/Effects/Damage
Sounds/Effects/Explosions
Sounds/Effects/GndTech
Sounds/Effects/Personnel
Sounds/Effects/Ships
Sounds/Effects/Weapons
Sounds/sdef
Sounds/Sounders
